---

layout: page
title: События
description: События хакспейса B4CKSP4CE

---
<h1>События хакспейса</h1>
{% assign postsByYearMonth = site.events | group_by_exp:"event", "event.date | date: '%Y %B'" | reverse  %}
{% for yearMonth in postsByYearMonth %}
  <h3>{{ yearMonth.name }}</h3>
    <ul>
      {% for event in yearMonth.items %}
        <li>{{ event.date| date: '%a %d, %H:%M' }} <a href="{{ event.url }}">{{ event.title }}</a></li>
      {% endfor %}
    </ul>
{% endfor %}
<iframe src="https://calendar.google.com/calendar/embed?src=n0oev7vtqntpok3phdbb48cvu0%40group.calendar.google.com&ctz=Europe%2FMoscow" style="border: 0" width="100%" height="600" frameborder="0" scrolling="no"></iframe>
