/**
* Resets browser styles and apply few initial tweaks
*/

@font-face {
  font-family: "Special Elite";
	src:
		url('../fonts/Special Elite.woff2') format('woff2'),
		url('../fonts/Special Elite.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Roboto Mono";
	src:
		url('../fonts/Roboto Mono.ttf') format('truetype');;
  font-weight: normal;
  font-style: normal;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background: white;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	margin-bottom: 1rem;
	font-variation-settings: 'wght' 350;
}

h1 {
	font-size: 1.953rem;
}

h3 {
	font-size: 1.563rem;
}

h4 {
	font-size: 1.25rem;
}

h5 {
	font-size: 1rem;
}

h6 {
	font-size: 0.8rem;
}

p {
	margin-bottom: 1rem;
}

a {
	color: var(--typo-special-blue);
	background-color: transparent;
	text-decoration: none;
}

ul, ol {
	margin-bottom: 1rem;
	padding-left: 2rem;
}

ul ul, ul ol, ol ul, ol ol {
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
}

hr {
	margin: 1rem 0;
	height: 0.2rem;
	background: rgba(black, 0.15);
	border: none;
}

blockquote {
	margin: 0 0 1rem 1rem;
	padding: 0.25rem 0 0.25rem 1rem;
	border-left: 0.2rem solid rgba(black, 0.15);
}

blockquote p:last-child {
	margin-bottom: 0;
}

code {
	padding: 0.05rem 0.4rem;
	background-color: rgba(black, 0.075);
}

pre {
	margin: 0;
	margin-bottom: 1rem;
	padding: 1rem;
	background-color: rgba(black, 0.075);
	font-size: 0.8rem;
}

pre code {
	padding: 0;
	background-color: transparent;
}