@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono&display=swap&subset=cyrillic');

a { 
  color: #66AFE3;
}

h2,h3,h4,h5,h6 {
  /* color: #50CF6F; */
  color: #F5E734;
}

hr {
  border: 1px solid #4A8782;
}

ul li {
  list-style: "— ";
  margin-bottom: +1em;
}

body {
  background: #2e3440;
  color: #fefefe;
  font-family: 'IBM Plex Mono', monospace;
  line-height: 1.6;
  margin: 2vw 0 0 0;
}

.container {
  margin: auto;
  max-width: 960px;
}

.content-wrap {
  padding: 0 1em 1em 1em;
}

.content-wrap img {
  max-width: 100%;
}

nav {
  padding-left: .5em;
}

nav .navbar {
  display: inline-block;
  margin-bottom: +20px;
  padding-left: .5em;
  vertical-align: text-bottom;
}

nav .navbar li {
  display: inline-block;
  font-weight: 800;
  list-style: none;
  margin-bottom: 0;
  margin-right: .5em;
}

nav .navbar li a {
  border-bottom: 2px solid #fefefe;
  color: inherit;
  display: inline-block;
  text-decoration: none;
}
