---
---

@import "{{ site.theme }}";

html, body {
  background: black;
}

nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar {
  display:flex;
  justify-content: space-between;
  align-items: center;
}

.nav-item {
  list-style: none;
}

.nav-item a {
  display: inline-block;
  padding: 10px 15px;
  text-decoration: none;
}

.nav-links {
  display: flex;
}

.head-wrap {
  display: flex;
}

h1, h2, h3, h4, h5, h6 {
  color: #e24600;
}



